{% extends '_layout.html.twig' %}

{% block title %}Wild circus | admin | Modifier vignette accueil{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('accueil') }}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}
{% block body %}
    <section class="w-100 d-flex flex-column justify-content-center align-items-center bg-primary">
        <h1>Modifier vignette d'accueil</h1>

        {{ include('home_message/_form.html.twig') }}
        <div class="col-12 p-0 text-center">
            <a class="btn btn-red col-md-3 p-0" href="{{ path('home_message_index') }}">Retour</a>
        </div>
    </section>

{% endblock %}






