{% extends '_layout.html.twig' %}

{% block title %}Wild circus | admin | Gestion accueil{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('accueil') }}
    {% endblock %}
{% block body %}
    <section class="w-100 d-flex flex-column justify-content-center align-items-center bg-primary">
        <h1>Gestion de la partie accueil</h1>
        <div class="col-12 p-0 text-center my-4">
            <a class="btn btn-red" href="{{ path('home_message_new') }}">Ajouter une info</a>
        </div>

        <table  class="table table-hover col-10 p-0 mx-auto my-5 table-borderless">
            <thead class="bg-red">
            <tr class="text-center text-light">
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for home_message in home_messages %}
                <tr class="text-center text-light">
                    <td>{{ home_message.title }}</td>
                    <td>{{ home_message.description }}</td>
                    <td>
                        <a class="btn btn-red" href="{{ path('home_message_show', {'id': home_message.id}) }}">Voir</a>
                        <a class="btn btn-red" href="{{ path('home_message_edit', {'id': home_message.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr class="text-center text-light">
                    <td colspan="4">Auncun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col-12 p-0 text-center">
            <a class="btn btn-red col-md-3 mt-4 text-center" href="{{ path('admin') }}">Retour Gestion</a>
        </div>

    </section>

{% endblock %}
